.table-container {
  position: absolute;
  bottom: 15px;
  left: 30px;
  width: 500px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px; /* 표의 모서리를 둥글게 만듭니다. */
}

.client-list-container {
  background: lightblue; /* 마우스를 올리면 연한 파란색 배경색 적용 */
  padding: 10px;
  transition: background 0.3s; /* 색상 변경에 트랜지션 효과 적용 */
  border-radius: 10px;
}

.client-list-container:hover {
  background: lightsteelblue; /* 마우스를 올리면 연한 파란색으로 색상 변경 */
}

.dispatch-list-container {
  position: absolute;
  bottom: 15px;
  right: 60px;
  width: 350px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px; /* 표의 모서리를 둥글게 만듭니다. */
}

button:hover {
  background-color: #e0e0e0;
}
